.calendarBar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    width: 40px;
    height: 40px;
  }
  
  .prev-btn {
    background: url(../assets/img/leftArrow.png) no-repeat center;
  }
  
  .next-btn {
    background: url(../assets/img/rightArrow.png) no-repeat center;
  }

  .display-date {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    min-width: 120px;
  }
    