html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.calendarBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;

  thead {
    tr {
      height: 64px;

      th {
        &.cell:hover {
          background: #fff;
        }

        &.weekend:hover {
          background: #f0f0f0;
        }

        &.cell-sum:hover {
          background: #f3f3f3;
        }
      }
    }
  }
}

.cell {
  border: 1px solid rgba(126, 126, 126, 0.3);
  width: 34px;
  height: 33px;

  &:hover {
    background: rgba(155, 153, 255, 0.1);
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
  }

  span {
    display: block;

    &.day {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
    }

    &.date {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
    }
  }

  button {
    background: #48ba46;
    border-radius: 7px;
    outline: none;
    border: none;
    width: 145px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #48ba46;
      border: 1px solid rgba(126, 126, 126, 0.3);
    }
  }

  &-button {
    position: relative;
    border-top: none;
    border-left: none;

    &:hover {
      cursor: default;
      background: #fff;
    }
  }

  &-sum {
    font-weight: normal;
    font-size: 12px;
    background: #f3f3f3;

    &:hover {
      background: #f3f3f3;
    }
  }
}

.department {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  background: rgba(155, 153, 255, 0.1);
}

.teems {
  font-size: 12px;
  line-height: 18px;
}

.weekend {
  background: #f0f0f0;
}

.btn {
  width: 40px;
  height: 40px;
}

.prev-btn {
  background: url(../assets/img/leftArrow.png) no-repeat center;
}

.next-btn {
  background: url(../assets/img/rightArrow.png) no-repeat center;
}

.display-date {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  min-width: 120px;
}

.teem {
  min-width: 260px;
  padding: 0 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  &__name {
    font-weight: 600;
  }

  &__info {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  &__count-members {
    width: 50px;
    font-size: 12px;
    line-height: 18px;
    color: #949494;
    margin-left: auto;

    &::before {
      content: "";
      width: 20px;
      display: inline-block;
      background-image: url(http://localhost:8080/js/../src/assets/img/groups.svg);
      height: 15px;
      background-size: 20px 20px;
      opacity: 0.6;
      background-repeat: no-repeat;
      padding-left: 3px;
    }
  }

  &__percentage-absent {
    font-size: 12px;
    line-height: 18px;
    padding: 1px 2px;
    color: #fff;
    background: #9b99ff;
    border-radius: 2px;
  }

  &__btn--hide {
    background-image: url(../assets/img/arrowUp.svg);
    width: 20px;
    height: 20px;
  }
}
// tbody::after {
//   content: '';
//   display: block;
//   height: 33px;
// }
// .last-row{
//   display:table-row-group;
// }
// 
// .last-row::after{
//   content: " ";
//   display: block;
//   position: absolute;
//   height: 50px;
//   width: 100%;
//   bottom: 0;
//   left: 0;
// }

// tr{
//   transform: translateY(0px);
// position: relative;
// }
// .department::before {
//   content: "";
//   display: block;
//   // position: absolute;
//   height: 10px;
//   width: 100%;
//   bottom: 0;
//   left: 0;
//   background-color: #000;
//   }
