$fronend: #9b99ff;
$designers: #7aafff;
$backend: #f99;
$managers:#ffa768;

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.calendarBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;

  thead {
    tr {
      height: 64px;

      th {
        &.cell:hover {
          background: #fff;
        }

        &.weekend:hover {
          background: #f0f0f0;
        }

        &.cell-sum:hover {
          background: #f3f3f3;
        }
      }
    }
  }
}

.cell {
  border: 1px solid rgba(126, 126, 126, 0.3);
  width: 34px;
  height: 33px;
  transition: background-color 0.3s;

  &:hover {
    background: rgba(155, 153, 255, 0.1);
    border-radius: 2px;
    cursor: pointer;
  }

  span {
    display: block;

    &.day {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
    }

    &.date {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
    }
  }

  button {
    background: #48ba46;
    border-radius: 7px;
    outline: none;
    border: none;
    width: 145px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background: #fff;
      color: #48ba46;
      border: 1px solid rgba(126, 126, 126, 0.3);
    }
  }

  &-button {
    position: relative;
    border-top: none;
    border-left: none;

    &:hover {
      cursor: default;
      background: #fff;
    }
  }

  &-sum {
    font-weight: normal;
    font-size: 12px;
    background: #f3f3f3;

    &:hover {
      background: #f3f3f3;
    }
  }
}

tr.department {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  display: table-row;

  &:not(:first-child) {
    &::after {
      content: " ";
      display: block;
      position: absolute;
      border-bottom: 1px solid rgba(126, 126, 126, 0.3);
      width: calc(100% - 16px);
      left: 8px;
    }
  }
}

tr.Frontend-Team {
  border-left: 3px solid $fronend;

  &.department {
    background: rgba(155, 153, 255, 0.1);
  }

  .teem {
    &__percentage-absent {
      background: $fronend;
    }
  }
}

tr.Backend-Team {
  border-left: 3px solid $backend;

  &.department {
    background: rgba(255, 153, 153, 0.1);
  }

  .teem {
    &__percentage-absent {
      background: $backend;
    }
  }
}

tr.Designers {
  border-left: 3px solid $designers;

  &.department {
    background: rgba(122, 175, 255, 0.1);
  }

  .teem {
    &__percentage-absent {
      background: $designers;
    }
  }
}

tr.Managers {
  border-left: 3px solid $managers;

  &.department {
    background: rgba(255, 167, 104, 0.1);
  }

  .teem {
    &__percentage-absent {
      background: $managers;
    }
  }
}

.teems {
  font-size: 12px;
  line-height: 18px;
}

.weekend {
  background: #f0f0f0;
}

.btn {
  width: 40px;
  height: 40px;
}

.prev-btn {
  background: url(../assets/img/leftArrow.png) no-repeat center;
}

.next-btn {
  background: url(../assets/img/rightArrow.png) no-repeat center;
}

.display-date {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  min-width: 120px;
}

.teem {
  min-width: 260px;
  padding: 0 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  &__name {
    font-weight: 600;
  }

  &__info {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  &__count-members {
    width: 50px;
    font-size: 12px;
    line-height: 18px;
    color: #949494;
    margin-left: auto;

    &::before {
      content: "";
      width: 20px;
      display: inline-block;
      background-image: url(http://localhost:8080/js/../src/assets/img/groups.svg);
      height: 15px;
      background-size: 20px 20px;
      opacity: 0.6;
      background-repeat: no-repeat;
      padding-left: 3px;
    }
  }

  &__percentage-absent {
    font-size: 12px;
    line-height: 18px;
    padding: 1px 2px;
    color: #fff;
    border-radius: 2px;
  }

  &__btn--hide {
    background-image: url(../assets/img/arrowUp.svg);
    width: 20px;
    height: 20px;
  }
}

.last-row {
  border-bottom: 33px solid #fff;

  td {
    position: relative;
    z-index: 3;
  }

  &::after {
    content: " ";
    display: block;
    position: absolute;
    height: 35px;
    border-bottom: 1px solid rgba(126, 126, 126, 0.3);
    width: calc(100% - 16px);
    left: 8px;
  }
}

tr.close.department {
  border-bottom: 33px solid #fff;

  &::after {
    content: " ";
    display: block;
    position: absolute;
    height: 34px;
    border-top: 1px solid rgba(126, 126, 126, 0.3);
    border-bottom: 1px solid rgba(126, 126, 126, 0.3);
    width: calc(100% - 16px);
    left: 8px;
  }
}

.close .teem__info .teem__btn--hide {
  transform: rotate(180deg);
  position: relative;
  z-index: 2;
}

.hidden {
  display: none;
}
